.menu {
  text-align: center;
  border: 0px solid black;
  border-radius: 15px;
  position: sticky;
  top: 80px;
  margin-bottom: 20px;
  padding: 10px 10px;
  margin: 0 auto;
  width: 70%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50px);
  background-color: #fff;
  z-index: 2;
}
.link {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 2px 4px;
  text-align: left;
  &:active {
    color: #3f8cff;
  }
  &:hover {
    color: #3f8cff;
  }
}
.link_active {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 2px 4px;
  text-align: left;
  color: #3f8cff;
}
