.header {
  display: flex;
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: none;
  z-index: 100;
  &_logo {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 19px;
  }
}
