.container {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 40px;
  &_left {
  }
}
.around_news {
  display: flex;
  flex-direction: row;
  min-height: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}
