.helpMenu {
  position: sticky;
  top: 80px;
  text-align: center;

  border: 0px solid black;
  border-radius: 15px;

  padding: 10px 10px;

  width: 75%;
  min-height: 500px;

  background-color: #fff;
}

.helpMenu__chats {
  flex: 1;
  overflow-y: scroll;
  max-height: 300px;
}

.helpMenu__chat {
  display: flex;
  flex-direction: column;
  &_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &__right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 10vh;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
    margin-bottom: 10px;
  }
  &__searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
