.container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin-top: 40px;
  &_left {
  }
  &_right {
  }
}

.around_info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  min-height: 300px;
  min-width: 500px;
  max-width: 900px;
  background-color: #fff;
  border-radius: 15px;
}

.selectHard {
  position: absolute;
  top: -100px;
  right: 0px;
  width: 100px;
  height: 60px;
  background-color: #fff;
  border-radius: 15px;
  border: none;
  padding: 10px;
  margin: 20px;
  margin-left: 0px;
}
